#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

/* Style for the form containing menu options */
#frmMenu {
    width: 600px;
    height: 200px;
}

/* Style for displaying the total price of order */
#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

/* Style for each section of pizza size and toppings */
.left {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

/* Style for "You Ordered:" */
#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

/* Style for cart containing price total and "You ordered:" */
#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

/* Order button style */
#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
}

/* Background Color */
body {
    background-color: lightblue;
}

/* Font and color styles */
h1 {
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h3 {
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}